*{
  padding:0px;
  margin: opx;
}

.App {
  /* text-align: center; */
  position: absolute;
  top: 20px;
  right: 40%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  width : 300px;
  height: 250px;
  border: 6px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.light {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 200;
  padding: 20px;
}

.circle{
  height: 60px;
  width: 60px;
  background-color: gray;
  border-radius: 50%;
  
}

.button{
  border-radius: 12px;
  padding: 12px;
  margin-top: 8em;
}
